<template>
    <div class="createwallet">
        <div class="iteBorder">
            <div class="title">钱包创建</div>
            <div style="padding-top:10px;">
                <p style="padding:10px 0;">设置钱包名称：</p>
                <el-input
                    type="text"
                    class="item_input"
                    placeholder="输入所想设置的钱包名称"
                    v-model.trim="walletName">
                </el-input>
            </div>
            <div>
                <p style="padding:10px 0;">助记词类型：</p>
                <el-select v-model="mnemonicTypeValue" placeholder="请选择助记词类型">
                    <el-option
                    v-for="item in mnemonicTypeArr"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div style="padding-top:15px;">
                <p style="padding:10px 0;">设置需要创建钱包地址(私钥)的个数(1~1000)：</p>
                <el-input
                    type="number"
                    class="item_input"
                    placeholder="输入要创建的钱包地址(私钥)个数"
                    v-model.trim="walletnum">
                </el-input>
            </div>
            <div style="padding-top:10px;">
                <p style="padding:10px 0;">设置钱包地址(私钥)的index：</p>
                <el-input
                    type="number"
                    class="item_input"
                    placeholder="输入钱包地址(私钥)的index"
                    v-model.trim="addressIndex">
                </el-input>
            </div>
            <div style="padding-top:28px;">
                <el-button type="primary" @click="handleShowDialog">确定</el-button>
            </div>
        </div>

        <el-dialog
            title="提示"
            :visible.sync="dialogVisible"
            width="30%"
            >
            <span>{{tips}}</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleConfirmCreate">确定创建</el-button>
            </span>
        </el-dialog>

        <el-dialog
            title="钱包创建成功"
            :visible.sync="dialogResultShow"
            :close-on-click-modal="false"
            width="38%"
            >
            <div class="create_title">请将如下助记词备份：</div>
            <p class="pps">{{mnemonic}}</p>
            <div class="create_title">生成如下地址并记住对应地址(私钥)的index：</div>
            <ul class="ul">
                <li v-for="(item,index) in allAddressArr" :key="index">{{item.address}}<span style="padding-left:10px;">地址(私钥)index为：<span style="color:#1989fa;">{{item.indexaddress}}</span></span></li>
               
            </ul>
            
        </el-dialog>
    </div>
</template>
<script>
import {Wallet, WalletManager, WiccApi,bitcore} from 'wicc-wallet-lib'
import { NETTYPE } from '@/tools/config.js'

export default {
    data() {
        return {
            tips:'',
            dialogVisible:false,
            walletnum:1,
            addressIndex:0,
            loading:"",
            timer:null,
            dialogResultShow:false,
            mnemonic:'',
            allAddressArr:[],
            mnemonicTypeArr:[{value:'ENGLISH',label:'English'},{value:'CHINESE',label:'中文'}],
            mnemonicTypeValue:'ENGLISH',
            walletName:'钱包'

        }
    },
    methods: {
        handleShowDialog(isneedwallet){
            let nu =  String(this.walletnum).indexOf(".") + 1
            if(nu>0){
                this.$message.error('所设置钱包地址(私钥)个数不能为小数');
                    return
            }
            if (!this.isRealNum(this.walletnum) || this.walletnum < 1 || this.walletnum >1000) {
                this.$message.error('所设置钱包地址(私钥)个数为1~1000的数字');
                    return;
            }
            let nm = String(this.addressIndex).indexOf(".") + 1
            if (nm>0 || this.addressIndex<0) {
                this.$message.error('钱包地址(私钥)的index不能为负数或者小数');
                    return;
            }

            if (!this.walletName) {
                this.$message.error('所设置的钱包名称不能为空');
                    return;
            }

            this.tips = `所创建的钱包为单一的助记词对应多个钱包地址，当前需要创建${this.walletnum}个钱包地址`
            

            this.$http.post("/api/namecheck",{walletName:this.walletName}).then(res => {
                
                if(res.data.data.code==0){
                    this.dialogVisible = true
                  
                }else if(res.data.data.code==101){
                    this.$message.error('所设置的钱包名称已存在，请设置为其他');
                }else{
                    this.$message.error(res.msg);
                }
            }).catch(err=>{
               this.$message.error('err');
            })
            
            
            
        },
        isRealNum(val){
      　　if(val === "" || val ==null){
              return false;
      　　}
          if(!isNaN(val)){　　　　
      　　　 return true; 
      　　}else{ 
      　　　　return false; 
      　　} 
        },
        handleConfirmCreate(){
            
            this.dialogVisible = false
            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });

            this.timer = setTimeout(()=>{
                this.createMethods()
            },50)
            
        },
        createMethods(){
            let addressArr = []
            //创建助记词
            var walletManager = new WalletManager(NETTYPE)
            var mnemonic = walletManager.randomMnemonicCodes("ENGLISH")
            var arg = { network: NETTYPE }
            var wiccApi = new WiccApi(arg)
            
            if(this.mnemonicTypeValue=='ENGLISH'){
                 this.mnemonic = mnemonic
            }else{
                this.mnemonic = wiccApi.switchMnemonicCode(mnemonic, "CHINESE")
            }
            var walletInfo = wiccApi.createWallet(mnemonic, '12345678')
            let addnum = this.addressIndex
            for (var i = 0; i< this.walletnum; i++) {
                var hdPrivateKey = wiccApi.getHDPriKeyFromSeed(walletInfo.seedinfo, '12345678',addnum)//siyao
                var privateKey = bitcore.PrivateKey.fromWIF(hdPrivateKey)
                var pubKey=privateKey.toPublicKey(); //公钥
                var address = privateKey.toAddress();
                addressArr.push({indexaddress:addnum,wallet_name:this.walletName,address:address.toString(),mnemonic:mnemonic,publickey:pubKey.toString()})
                
                addnum++;
            }

            this.allAddressArr = addressArr
            
            this.$http.post("/api/create",{addressArr:addressArr}).then(res => {
                this.loading.close();
                if(res.code==0){
                    //ssconsole.log('res==>',res)
                    this.dialogResultShow = true 
                    this.$emit('freshAddressList',false)
                }else{
                    this.$message.error(res.msg);
                }
            }).catch(err=>{
                this.loading.close();
            })

        }
        
    },
    beforeDestroy(){
        clearTimeout(this.timer)
        this.timer = null
    }
}
</script>
<style scoped>
.createwallet{
    padding:0 10px;
    box-sizing: border-box;
    padding-bottom:10px;
}
.create_title{
    padding: 5px 0;
    font-size: 16px;
    line-height: 20px;
}
.pps{
    padding: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
    word-break:keep-all;
}
.ul {
    max-height: 125px;
    overflow-y: scroll;
}
li{
    font-size: 14px;
    line-height: 24px;
    padding-left: 5px;
}

.iteBorder{
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.title{
    font-size: 20px;
    color: #000;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 15px;
}
.item_input{
    width: 300px;
}




</style>