<template>
    <div>
        <!-- 当前钱包地址信息（查看助记词、私钥，addressIndex） -->
      <div class="wallet-info">
        <el-card class="box-card" shadow="always" v-if="addressList.length>0">
            <div slot="header">
                <div class="header-account">{{selectValue[0]}} 
                    <el-button style="font-size:16px;" @click="clickShowEditName" type="text">编辑钱包昵称</el-button>
                </div>
                <div class="wallet-info-header">
                    <div>
                        <p>当前选择的钱包地址为：</p>
                        <p style="padding-top:8px;">{{selectValue[1]}} <span style="opacity:0.8;">({{initSelect.address_name}})</span></p>
                    </div>
                    <el-button @click="handleChangeAccount" style="padding-left:30px;font-size:18px;"  type="text"><i :class="{'el-icon-refresh':true,'go':go}"></i>切换账户</el-button>
                </div>
                <el-button style="font-size:16px;" type="text" @click="editAddressName">编辑地址昵称</el-button>
            </div>
            <div class="body-ite" v-show="initSelect.importType!='private'">
               当前地址的addressIndex为：<span style="color:#409EFF;">{{initSelect.addressIndex}}</span>
            </div>
            <div class="body-ite setpadding" v-show="initSelect.importType!='private'">
               <el-button style="font-size:16px;" type="text" @click="passwordVerify('M')">查看助记词</el-button>
                <el-button style="font-size:16px;margin-left:20px;" type="text" @click="passwordVerify('P')">查看私钥</el-button>
            </div>
           
        </el-card>
        <el-card class="box-card" shadow="always" v-else>
            <div class="info-null">
                您还没有账户，请创建或导入账户！
            </div>
        </el-card>
      </div>
      <el-dialog title="请选择账户" custom-class="account" @close="handleclose" :visible.sync="dialogTableVisible" >
          <el-cascader-panel :options="addressList" ref="cascader" @change="handlechange" v-model="selectValue" v-if="dialogTableVisible"></el-cascader-panel>
          <div style="height:190px;" v-else></div>
      </el-dialog>
      <el-dialog
        title="请输入锁屏密码"
        :visible.sync="passwordVerifyVisible"
        width="30%"
        @close="handleLoclClose"
        >
        <el-input v-model="userpwd" type="password" @keyup.enter.native="confirmShowKeys" placeholder="请输入锁屏密码"></el-input>
        <span slot="footer" class="dialog-footer">
            <el-button @click="passwordVerifyVisible = false">取 消</el-button>
            <el-button type="primary" @click="confirmShowKeys">确 定</el-button>
        </span>
      </el-dialog>
      <!-- 展示私钥或助记词 -->
      <el-dialog
        title="请妥善保存私钥"
        :visible.sync="privateShowVisible"
        width="30%"
        @close="handleShowInfoClose"
        >
        <div>私钥信息如下:</div>
        <p class="showarea">{{keysContent}}</p>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="privateShowVisible=false">知道了</el-button>
        </span>
      </el-dialog>
      <el-dialog
        title="请妥善保存助记词"
        :visible.sync="menonicShowVisible"
        width="30%"
        @close="handleShowInfoClose"
        >
        <div>助记词信息如下:</div>
        <p class="showarea">{{keysContent}}</p>
        <el-button @click="exchangeMenonic" style="font-size:16px;padding-bottom:0;"  type="text"><i :class="{'el-icon-refresh':true,'go':goes}"></i>{{showEnglishMsg}}</el-button>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="menonicShowVisible=false">知道了</el-button>
        </span>
      </el-dialog>

      <el-dialog
        title="编辑地址昵称"
        :visible.sync="editVisible"
        width="30%"
        @close="handleEditClose"
        >
        <p style="padding-bottom:10px;">当前地址昵称为：<span style="font-size:16px;font-weight:600;">{{initSelect.address_name}}</span></p>
        <el-input v-model="newAddressName" type="text" placeholder="请输入新的地址昵称"></el-input>
        <span slot="footer" class="dialog-footer">
            <el-button @click="editVisible = false">取 消</el-button>
            <el-button type="primary" @click="handleConfirmEdit">确 定</el-button>
        </span>
      </el-dialog>

       <el-dialog
        title="编辑钱包昵称"
        :visible.sync="editwalletVisible"
        width="30%"
        @close="editWalletClose"
        >
        <p style="padding-bottom:10px;">当前钱包昵称为：<span style="font-size:16px;font-weight:600;">{{selectValue[0]}}</span></p>
        <el-input v-model="newWalletName" type="text" placeholder="请输入新的钱包昵称"></el-input>
        <span slot="footer" class="dialog-footer">
            <el-button @click="editwalletVisible = false">取 消</el-button>
            <el-button type="primary" @click="handleConfirmWalletEdit">确 定</el-button>
        </span>
      </el-dialog>
    </div>
</template>
<script>
import {Wallet, WalletManager, WiccApi,bitcore} from 'wicc-wallet-lib'
import { NETTYPE } from '@/tools/config.js'
export default {
    props:{
      addressList:{
        type:Array,
        default: function () {
            return []
        }
      }
    },
    data(){
        return {
            selectValue: [],
            initSelect:{},
            dialogTableVisible:false,
            go:false,
            passwordVerifyVisible:false,
            userpwd:'',
            timer:null,
            isShowKeysType:'M',
            privateShowVisible:false,
            menonicShowVisible:false,
            goes:false,
            showEnglishMonenic:true,
            showEnglishMsg:'切换为中文助记词',
            keysContent:'',
            editVisible:false,
            newAddressName:'',
            editwalletVisible:false,
            newWalletName:''

        }
    },
    methods: {
        exchangeMenonic(){
             //环境初始化
            var arg = { network: NETTYPE }
            var wiccApi = new WiccApi(arg)

            this.goes = true
            this.showEnglishMonenic = !this.showEnglishMonenic
            if(this.showEnglishMonenic){
                this.showEnglishMsg = '切换为中文助记词'
                this.keysContent = wiccApi.switchMnemonicCode(this.keysContent,"ENGLISH")
            }else{
                this.showEnglishMsg = '切换为英文助记词' 
                this.keysContent = wiccApi.switchMnemonicCode(this.keysContent,"CHINESE")
            }
            this.timer = setTimeout(()=>{
                this.goes = false
                
            },1000)

        },
        handleShowInfoClose(){
            this.showEnglishMonenic = true
            this.showEnglishMsg = '切换为中文助记词'
            this.keysContent = ''
        },
        handleSessionInfoData(newValue,i,chid){ //i 为第几个账户 chid为子账户第几个
            this.selectValue = []
            this.selectValue.push(newValue[i]['value'])
            this.selectValue.push(newValue[i]['children'][chid]['value'])
            this.initSelect = newValue[i]['children'][chid]
            sessionStorage.setItem('SELECT_VALUE',JSON.stringify(this.selectValue))
            sessionStorage.setItem('INIT_SELECT',JSON.stringify(this.initSelect))
            
        },
        getSessionStorageData(){ //取缓存数据
            this.selectValue = JSON.parse(sessionStorage.getItem('SELECT_VALUE'))
            this.initSelect = JSON.parse(sessionStorage.getItem('INIT_SELECT'))
        },
        handlechange(val){
           // console.log("val=>",val)
           let nodesObj = this.$refs['cascader'].getCheckedNodes()
           this.initSelect = nodesObj[0]['data']
           sessionStorage.setItem('SELECT_VALUE',JSON.stringify(val))
           sessionStorage.setItem('INIT_SELECT',JSON.stringify(this.initSelect))
           //console.log("this.initSelect=>",this.initSelect)
           this.dialogTableVisible = false
        },
        handleChangeAccount(){
            this.go = true
            this.dialogTableVisible = true
        },
        handleclose(){
            this.go = false
        },
        passwordVerify(type) {
            this.isShowKeysType = type
            this.passwordVerifyVisible = true
        },
        handleLoclClose(){
            this.userpwd = ''
        },
        confirmShowKeys(){
            if(!this.userpwd){
                this.$message.error('请输入锁屏密码');
                return
            }
            let loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });
             //环境初始化
            var arg = { network: NETTYPE }
            var wiccApi = new WiccApi(arg)

           this.initSelect.password = this.userpwd
           this.$http.post("/api/showWalletKeys",this.initSelect).then(res => {
       
                if(res.code==0){
                   if(this.isShowKeysType=='M' || this.initSelect.importType=='private'){
                      
                       this.keysContent = res.data.data
                       loading.close()
                       this.passwordVerifyVisible = false
                        if(this.initSelect.importType=='private'){
                           this.privateShowVisible = true
                       }else{
                           this.menonicShowVisible = true
                       }
                   }else{
                        //助转私
                        this.timer = setTimeout(()=>{
                            var walletInfo = wiccApi.createWallet(res.data.data, '12345678')
                            var privKeyWIF = wiccApi.getHDPriKeyFromSeed(walletInfo.seedinfo, '12345678', this.initSelect.addressIndex)
                            this.keysContent = privKeyWIF
                            loading.close()
                            this.passwordVerifyVisible = false
                            this.privateShowVisible = true
                        },10)
                   }
                   
                }else{
                    loading.close()
                    this.$message.error(res.msg);
                }
            }).catch((err)=>{
                
                this.$message.error('error');
                 loading.close()
            })
            
        },
        editAddressName(){
            this.editVisible = true
        },
        handleEditFresh(newValue){
   
            let oldinitSelect = JSON.parse(sessionStorage.getItem('INIT_SELECT'))
            let i = oldinitSelect.jnum-1
            let  chidrenArr = newValue[i]['children']
            let chid = 0
            chidrenArr.map((ite,index)=>{
                if(this.selectValue[1]==ite.value){
                    chid = index
                }
            })

            this.selectValue = []
            this.selectValue.push(newValue[i]['value'])
            this.selectValue.push(newValue[i]['children'][chid]['value'])
            this.initSelect = newValue[i]['children'][chid]
            sessionStorage.setItem('SELECT_VALUE',JSON.stringify(this.selectValue))
            sessionStorage.setItem('INIT_SELECT',JSON.stringify(this.initSelect))
        },
        handleConfirmEdit(){
            if(!this.newAddressName){
                this.$message.error('所设置的昵称不能为空');
                return
            }
            let loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });
            let postdata = {
                oldname:this.initSelect.address_name,
                newname:this.newAddressName,
                address:this.selectValue[1]
            }
            this.$http.post("/api/updateaddressname",postdata).then(res => {
                loading.close()
                if(res.code==0){
                    this.$emit('freshAddressList','edit')
                    this.$message({
                        message: '昵称修改成功！',
                        type: 'success'
                    });
                }else{
                    this.$message.error(res.msg);
                }
                this.editVisible = false
            }).catch((err)=>{
                this.editVisible = false
                this.$message.error('error');
                 loading.close()
            })
        },
        handleEditClose(){
            this.newAddressName = ''
        },
        editWalletClose(){
            this.newWalletName = ''
        },
        clickShowEditName(){
            this.editwalletVisible = true
        },
        handleConfirmWalletEdit(){
            if(!this.newWalletName){
                this.$message.error('所设置的昵称不能为空');
                return
            }
            let loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });
            let postdata = {
                oldname:this.selectValue[0],
                newname:this.newWalletName
            }
            this.$http.post("/api/updatewalletname",postdata).then(res => {
                loading.close()
                if(res.code==0){
                    this.$emit('freshAddressList','edit')
                    this.$message({
                        message: '昵称修改成功！',
                        type: 'success'
                    });
                }else{
                    this.$message.error(res.msg);
                }
                this.editwalletVisible = false
            }).catch((err)=>{
                this.editwalletVisible = false
                this.$message.error('error');
                 loading.close()
            })
        }
    
    },
    mounted() {
     
    },
}
</script>
<style>

.el-dialog.account{
    width:56%;
}
</style>
<style scoped>
.wallet-info{
    padding: 10px;
    padding-top:0;
    box-sizing: border-box;
}

.wallet-info-header{
    font-size: 16px;
    display: flex;
}

.wallet-info >>> .el-card{
    height: 100%;
    padding-bottom: 30px;
}
.wallet-info .header-account{
    padding-bottom:20px;
    font-size:18px;
    font-weight:600;
}
.wallet-info >>> .el-card__body{
    padding: 0;
}
.wallet-info .body-ite{
    padding:20px;
    border-top:1px solid #EBEEF5;
}
.wallet-info  .body-ite.setpadding{
    padding: 8px 20px;
}
.go{
        transform:rotate(360deg);
        transition: all 1s;
    }
.info-null{
    
    padding: 25px;
    padding-top:40px;
    font-size: 16px;
}
.showarea{
    background: #f5f7fa;
    margin-top:10px;
    height:70px;
    padding: 10px;
    border-radius: 5px;
    line-height:20px;
}
</style>