<template>
  <div class="transfer">
    <h2><i class="el-icon-s-opportunity"></i>CDP抵押</h2>
    <div class="content">
        
        <div class="item" >
          CDP抵押地址：<span style="font-size:18px;padding:0 5px;">{{walletName.name}}</span>
          <el-input
            v-model="addressValue"
            style="width:330px;"
            class="item_input_address place_inpt"
            placeholder="当前无钱包，请创建或者导入钱包"
            :disabled="true">
          </el-input>
          ({{walletName.addressname}})
        </div>
        <div class="item" >
          最新的区块高度：
          <el-input
            type="number"
            class="item_input"
            placeholder="请输入区块高度"
            v-model.trim="nValidHeight">
          </el-input>
        </div>

        <div class="item" >
          抵押WICC的数量：
          <el-input
            type="number"
            class="item_input"
            placeholder="请输入抵押WICC的数量"
            v-model.trim="exchangeAmount">
          </el-input>
          WICC
        </div>
         <div class="item" >
            <div>
            将要抵押出WUSD的数量：
            <el-input
                type="number"
                class="item_input"
                placeholder="输入将要抵押出WUSD的数量"
                v-model.trim="getWusdAmount">
            </el-input>
            WUSD
            </div>
            <el-collapse accordion>
                <el-collapse-item>
                    <template slot="title">
                    抵押出WUSD数量计算器
                    </template>
                    <div style="display:flex;">
                        <div><div>WICC数量：</div><el-input type="number"  placeholder="请输入WICC数量" v-model.trim="caculateWicc"></el-input></div>
                        <div class="cheng">*</div>
                        <div><div>WICC当前价格(相对于USD)：</div><el-input type="number"  placeholder="WICC当前价格" v-model.trim="caculateWiccPrice"></el-input></div>
                        <div class="chu">  /  300%</div>
                    </div>
                    <div><el-button @click="handleSum" style="height:40px;" type="primary" plain>点击计算</el-button><span style="padding-left:10px;font-size:18px;">最多可以抵押出约：<span style="color:#409EFF;font-weight:600;">{{totals}} </span>WUSD</span></div>
                </el-collapse-item>
            </el-collapse>
        </div>
        <div class="item" >
          手续费：
          <el-input
            type="number"
            class="item_input"
            placeholder="请输入手续费"
            v-model.trim="feeAmount">
          </el-input>
          <el-select class="item_select_saw" v-model="feeSawValue" placeholder="请选择金额单位">
            <el-option
              v-for="item in feeSawList"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </div>
        <div class="btn">
           <el-button type="primary" @click="handleConfirm" >确定抵押</el-button>
        </div>
    </div>
    <el-dialog
      title="手机扫码提交签名上链"
      :visible.sync="qrialogVisible"
      width="30%"
      center>
      <qrCode :cointransferTx="cointransferTx"></qrCode>
      <div style="padding-top:20px;"></div>
    </el-dialog>
  </div>
</template>

<script>
import qrCode from '@/common/qrCode.vue'
export default {
    components: { qrCode },
    props:{
      addressValue:{
        type:String,
        default:""
      },
      walletName:{
        type:Object,
        default:()=>{
          return {name:'',addressname:''}
        }
      }
    },
    data() {
      return {
        cointransferTx:"",
        exchangeAmount:1,
        getWusdAmount:"",
        feeAmount:'0.01',
        feeSawList:[{
          value: 'WUSD',
          label: 'WUSD'
        }, {
          value: 'WICC',
          label: 'WICC'
        }],
        feeSawValue:'WICC',
        qrialogVisible:false,
        nValidHeight:"",
        caculateWicc:'',
        caculateWiccPrice:'',
        totals:'--'


      }
    },
    methods:{
      handleSum(){
          if(!this.isRealNum(this.caculateWicc) || !this.isRealNum(this.caculateWiccPrice)){
                this.$message.error('请输入数字类型的数字');
            return
          }
          if(this.caculateWicc-0<0 || this.caculateWiccPrice-0<0){
                this.$message.error('请输入大于0的数字');
            return
          }
          let totals = (this.caculateWicc*this.caculateWiccPrice)/3
          this.totals = parseInt(totals*100)/100
      },
      handleConfirm(){

        if(!this.addressValue){
           this.$message.error('当前无钱包，请创建或者导入钱包');
          return
        }

        if(!this.isRealNum(this.exchangeAmount)){
          this.$message.error('请输入数字类型的金额');
          return
        }
        if(this.exchangeAmount-0<1){
           this.$message.error('抵押数量不能小于1');
           return
        }
        if(!this.isRealNum(this.getWusdAmount)){
          this.$message.error('请输入数字类型的抵押出的金额');
          return
        }
        if(this.getWusdAmount-0<0.01){
           this.$message.error('抵押出的数量应大于0.01');
           return
        }
        
        if(!this.isRealNum(this.feeAmount)){
          this.$message.error('请输入数字类型的矿工费');
          return
        }
        if(this.feeAmount-0<0.01){
          this.$message.error('矿工费不能小于0.01');
          return
        }
        if(!this.isRealNum(this.nValidHeight)){
          this.$message.error('请输入数字类型的区块链高度');
          return
        }

        this.handleTransfer()
      },
      isRealNum(val){
      　　if(val === "" || val ==null){
              return false;
      　　}
          if(!isNaN(val)){　　　　
      　　　 return true; 
      　　}else{ 
      　　　　return false; 
      　　} 
      },
      handleTransfer(){
        let loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });

       
        
        let cointransferTxinfo = {
          nTxType: 21,//cdp创建
          nValidHeight: this.nValidHeight-0,
          cdpTxId:'',
          fees: (this.feeAmount)*100000000-0,
          feeSymbol: this.feeSawValue,
          addressValue:this.addressValue,
          assetAmount:(this.exchangeAmount)*100000000-0,
          sCoinToMint:(this.getWusdAmount)*100000000-0,
          memo: "cdp create",// remark, optional field
        };

        this.$http.post("/api/cdptx",cointransferTxinfo).then(res => {
            loading.close()
             // console.log('res==>',res)
              if(res.code==0){
                this.cointransferTx = res.data.data
                this.qrialogVisible = true
              }
              
        }).catch((err)=>{
          loading.close()
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.transfer{
  padding:25px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}
.transfer h2{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}
h2 i{
  color: #50bfff;
  font-size: 20px;
  font-weight: 600;
  margin-right: 8px;
}
.transfer:hover{
  box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
}
.item_select{
  width: 400px;
}
.item_select_options{
  width: 250px;
}
.item_select_saw{
  width: 150px;
}
.item_input_address{
  width: 400px;
}
.item_input{
  width: 200px;
}
.item{
  padding-bottom: 20px;
}
.item >>> .el-collapse-item__header{
    border:none;
    color: #409EFF;
}
.item >>> .el-collapse{
    border:none;
}
.item >>> .el-collapse-item__arrow{
    margin-left: 5px;
    color: #409EFF;
}
.item >>> .el-collapse-item__wrap{
    padding:0 20px;
    padding-top: 20px;
    border: 1px solid #EBEEF5;
    border-radius: 5px;
}
.cheng{
    font-size:30px;
    padding:0 5px;
    padding-top:20px;
}
.chu{
    font-size:30px;
    padding:0 5px;
    padding-top:15px;
}
.btn{
  padding-left: 60px;
  padding-top: 20px;
}
.place_inpt >>> .el-input__inner::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
     color: red;
}
.place_inpt >>> .el-input__inner:-moz-placeholder { /* Mozilla Firefox 4 to 18 适配火狐 */
     color: red;
}
.place_inpt >>> .el-input__inner::-moz-placeholder { /* Mozilla Firefox 19+ 适配火狐 */
     color: red;
}
.place_inpt >>> .el-input__inner:-ms-input-placeholder { /* Internet Explorer 10+  适配ie*/
     color: red;
}
</style>
